* {
    font-family: 'Lexend', sans-serif;
    scrollbar-width: none;
}

body {
    background-color: #fec725;
}

#title {
    display: inline;
    background-color: #ffac27;
    font-weight: bold;
}

.bodyContents2 {
    margin-top: 4vh;
}

#block1 {
    display: flex;
    flex-direction: row;
}

#block1 h1 {
    margin-left: 20vh;
    margin-top: 10vh;
    font-size: 8vh;
}

#musicImg {
    width: 6vh;
    height: 6vh;
    border-radius: 100%;
}

#musicBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.894vh;
    cursor: pointer;
    position: fixed;
    margin-right: 1.35vh;
    border:#c66300;
    border-width: 0.5vh;
    border-style: solid;
    border-radius: 100% ;
    width: 9vh;
    height: 9vh;
    background-color: #fe9525;
}

.bodyContents1 {
    display: flex;
    background-color: #ffac27;
    margin: -1.12vh;
    padding: -1.15v;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    font-size: 7vh;
    flex-direction: column;
}

.bodyContents1 p {
    position: relative;
    background-color: #fec725;
}

.bodyContents1 img {
    height: 35vh;
    border: #fe9525;
    border-width: 2vh;
    border-style: solid;
}

#backBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
    cursor: pointer;
    position: fixed;
    margin-left: 0.93vh;
    border:#c66300;
    border-width: 0.5vh;
    border-style: solid;
    border-radius: 100% ;
    width: 9vh;
    height: 9vh;
    background-color: #fe9525;
}

#flexBtnMusic {
    display: flex;
    justify-content: flex-end;
}

#backBtn img {
    width: 7vh;
    height: 7vh;
    border-radius: 100%;
}
