
* {
    font-family: 'Lexend', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url('media/city.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.body {
    display: flex;
    align-items: top;
    justify-content: left;
}

#bodyContents1 {
    margin-left: 25vw;
    padding-top: 12vh;
    padding-bottom: 5vh;
    margin-right: 25vw;
    gap: 2vh;
    width: 50vw;
}

#ghcImg {
    float: left;
    left: 0;
    margin-left: 1vh;
    margin-right: 1vh;
    margin-bottom: 0.75vh;
    width: 25vh;
    height: 25vh;
    border-width: 0.2vh;
    border-style: solid;
    border-color: #000;
}

#introTxt {
    font-size: 2.5vh;
    background-color: #fffb27;
}

.header {
    display: flex;
    align-items: center;
    width: 25vw;
    height: 10vh;
    padding-top: 4vh;
    margin: 0 auto;
    justify-content: center;
    gap: 2vh;
}

#headerContents {
    display: flex;
    align-items: center;
    justify-content: center;
}

#headerLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2vh;
    border:#ac8100;
    background-color: #fec725;
    border-width: 0.5vh;
    border-style: solid;
    border-radius: 10px;
    width: 25.5vh;
    height: 10vh;
}

#headerRight {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2vh;
    border:#ac8100;
    background-color: #fec725;
    border-width: 0.5vh;
    border-style: solid;
    border-radius: 10px;
    width: 25.5vh;
    height: 10vh;
}

#headerCenter {
    display: flex;
    background-color: #fec725;
    border:#ac8100;
    border-width: 0.5vh;
    border-style: solid;
    border-radius: 10px; 
    width: 45vh;
    height: 10vh;
    font-size: 2vh;
    align-items: center;
    justify-content: center;
    padding-left: 4vh;
    padding-right: 4vh;
}

#githubImg {
    width: 5vh;
    height: 5vh;
    border-radius: 100%;
}

#musicImg {
    width: 6vh;
    height: 6vh;
    border-radius: 100%;
}

#pfpImg {
    position: relative;
    left:auto;
    margin-right: 1vh;
    width: 8vh;
    height: 8vh;
    border-width: 0.2vh;
    border-style: solid;
    border-color: #000;
}
